/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

.image-shadow {
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

.hidden {
	visibility: hidden;
}

.top-bot-padded {
	padding-top: 15px;
	padding-bottom: 15px;
}

.white-font {
	color: white;
}

.white-font h4 {
	color: white;
}


/* -----------------------------------------
   Index
----------------------------------------- */

.selling-points {
	background-image:url('../images/version_a/blue_background.jpg');
}

.blog-entry {
	background-image:url('../images/version_a/blog/blog_background.jpg');
}


/* -----------------------------------------
   Page Name 2
----------------------------------------- */


